.header {
  top: 0;
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: #f5f5f7;
  z-index: 5;
}

.nav-bar {
  width: 35%;
}

.nav-bar .menu-items {
  padding-bottom: 5px;
  height: 32px;
  border-radius: 5px;
  background-color: #ced8e2;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-items li a {
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1f;
  position: relative;
  transition: 0.25s ease-out;
}
.fa-xmark {
  display: none;
}
.menu-items li a:hover {
  color: #b75b48;
}

.menu-items li a::after {
  content: "";
  height: 1.5px;
  background-color: #b75b48;
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.menu-items li a:hover::after {
  transform: scaleX(1);
}

.fa-bars {
  display: none;
}
