@media (max-width: 1000px) {
  .header {
    top: 0;
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #f5f5f7;
    z-index: 5;
  }
  .nav-bar {
    display: none;
  }
  .menu-mobile {
    background-color: #ced8e2ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    width: 35vw;
    position: fixed;
    top: 55px;
    right: 0;
    z-index: 10;
    border-radius: 10px 0 0 10px;
  }

  .menu-mobile .menu-items {
    height: 100%;
    padding-bottom: 5px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .fa-bars {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}
@media (max-width: 1000px) {
  .menu-mobile {
    width: 200px;
    height: 290px;
  }
}
@media (max-width: 830px) {
  .menu-mobile {
    width: 170px;
    height: 265px;
  }
}
@media (max-width: 500px) {
  .menu-mobile {
    width: 150px;
    height: 225px;
  }
}
