@media (min-width: 1000px) and (max-width: 1200px) {
  .contact {
    margin: 0 35px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1000px) {
  .contact {
    padding-top: 60px;
    margin: 10px;
    margin-bottom: 25px;
  }

  .contact-container {
    flex-direction: column;
    width: 100%;
    height: 500px;
  }

  .contact-info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    width: 100%;
    background: white;
    margin: 10px;
    padding: 10px;
    height: 260px;
  }
  .logos {
    display: none;
  }
  .contact .title-1 {
    width: 50%;
  }
  .contact .title-intro1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .contact-info {
    height: 225px;
  }
}
