@media (min-width: 1000px) and (max-width: 1200px) {
  .projects {
    margin: 0 35px;
  }
}

@media (max-width: 1000px) {
  .projects {
    margin: 10px;
    padding-top: 60px;
  }

  .project-image {
    max-width: 325px;
  }
  .project-description {
    max-width: 100%;
  }
  .project-item {
    padding: 30px 0;
    padding-left: 50px;
    background: linear-gradient(0.5turn, #fff, #f5f5f7);
  }
  .project-item {
    border-radius: 10px;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.5turn, #f5f5f7, #fff);
    gap: 20px;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-description .technologies {
    text-align: center;
  }
  .project-item:nth-child(odd) {
    flex-direction: column;
  }

  .project-item:nth-child(even) {
    flex-direction: column;
  }
  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-description .technologies {
    text-align: center;
  }
  .project-item {
    padding: 30px 25px;
    background: linear-gradient(0.5turn, #fff, #f5f5f7);
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .project-image {
    max-width: 325px;
  }
}

@media (max-width: 575px) {
  .projects {
    padding-top: 55px;
  }
}
