@media (max-width: 1000px) {
  .hero {
    flex-direction: column-reverse;
    margin: 0 25px;
  }

  .hero-right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 80px 0 20px;
  }

  .hero .hero-right img {
    margin-bottom: 0;
    width: 175px;
  }

  .hero .hero-left {
    padding: 25px;
    width: 100%;
    align-items: center;
  }

  .hero-left h2 br {
    display: none;
  }

  .hero .hero-left p {
    width: 75%;
    border-radius: 5px;
  }
}
