@media (min-width: 1000px) and (max-width: 1200px) {
  .hero {
    margin: 0 35px;
    margin-bottom: -100px;
  }
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column-reverse;
    margin: 0 10px;
  }

  .hero-right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 80px 0 20px;
  }

  .hero .hero-right img {
    margin-bottom: 0;
    margin-left: 10px;
    width: 150px;
  }

  .hero .hero-left {
    padding: 25px;
    width: 100%;
    align-items: center;
  }

  .hero-left h2 br {
    display: none;
  }

  .hero .hero-left p {
    width: 95%;
    border-radius: 5px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .hero-right h2 {
    font-size: 30px;
  }
  .hero .hero-right img {
    width: 175px;
  }
}
@media (max-width: 650px) {
  .hero-right {
    height: 225px;
  }
  .hero-right h2 {
    margin-left: 10px;
    font-size: 25px;
  }
  .hero-left h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
  }
}
