@media (max-width: 1300px) {
  .about {
    flex-direction: column;
    padding: 0px;
    padding-top: 75px;
    margin: 0 10px;
  }

  .about .left {
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }
  .about .left .title-1 {
    text-align: center;
  }
  .about .left .title-2 {
    text-align: center;
  }
  .about .left .title-intro1 {
    text-align: center;
    padding: 0 25px;
  }
  .about .left .gradient-text {
    text-align: center;
  }
  .about .right {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .title-2 br {
    display: none;
  }

  .section-item {
    margin: 0;
    margin-bottom: 15px;
    padding: 20px 25px;
    border-radius: 10px;
    background: linear-gradient(0.75turn, #fff, #f5f5f7);
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .about {
    margin: 0 75px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .about {
    margin: 0 35px;
  }
}
@media (max-width: 850px) {
  .about .right {
    height: 350px;
  }
}

@media (max-width: 725px) {
  .about .left {
    height: 325px;
  }
  .about .right {
    flex-direction: column;
    height: 475px;
  }
}
@media (max-width: 550px) {
  .about {
    padding-top: 50px;
  }
  .about .left {
    margin-bottom: 15px;
    height: 300px;
  }
  .about .right {
    height: 425px;
  }
}
