* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
  color: #1d1d1f;
  /* background-color: #f5f5f7; */
}

.title-1 {
  width: 25%;
  margin-bottom: 7.5px;
  letter-spacing: 2.5px;
  font-size: 17px;
  font-weight: 500;
  color: #0090f7;
  background-color: #ced8e2;
  border-radius: 25px;
  height: 25px;
  padding-left: 10px;
}

.title-2 {
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  color: #1d1d1f;
}

.title-intro1 {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #4b5563;
}

.title-intro2 {
  width: 60%;
}

.sub-title {
  color: #b75b48;
  font-size: 18px;
}

.gradient-text {
  background: linear-gradient(90deg, #b75b48, #0090f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 500;
}
